{% extends "core/base.html" %}
{% load static %}

{% block title %}My Profile - COLLABoard{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block content %}
<div class="profile-wrapper">
<div class="profile-container">


  <div class="back-dashboard">
    {% if user.role == "student" %}
      <a href="{% url 'student_dashboard' %}" class="back-arrow">
        <img src="{% static 'core/icons/left-arrow.png' %}" alt="Back" class="back-icon">
      </a>
    {% elif user.role == "teacher" %}
      <a href="{% url 'teacher_dashboard' %}" class="back-arrow">
        <img src="{% static 'core/icons/left-arrow.png' %}" alt="Back" class="back-icon">
      </a>
    {% elif user.role == "admin" %}
      <a href="{% url 'admin_dashboard' %}" class="back-arrow">
        <img src="{% static 'core/icons/left-arrow.png' %}" alt="Back" class="back-icon">
      </a>
    {% endif %}
  </div>

  <div class="profile-header">
    <h2>My Profile</h2>
  </div>

  <div class="profile-info">
    <label>Username</label>
    <input type="text" value="{{ user.username }}" readonly>
  </div>

  <div class="profile-info">
    <label>Email</label>
    <input type="email" value="{{ user.email }}" readonly>
  </div>

  {% if user.role == "student" %}
  <div class="profile-info">
    <label>Student ID</label>
    <input type="text" value="{{ user.student_id }}" readonly>
  </div>
  {% endif %}

  <div class="profile-actions">
    <a href="{% url 'edit_profile' %}" class="btn btn-primary">Edit Profile</a>
  </div>
</div>
</div>
{% endblock %}
